@CHARSET "UTF-8";

.package-intranet-profile {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.package-intranet-profile-mydata,
.package-intranet-profile-change-password {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}

.package-intranet-profile-entry {
    clear: both;
    float: left;
    width: 100%;
}

/** header
 * ============================================================= */

.package-intranet-profile-header {
    background: #DDDDDD;
    clear: both;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 11;
}

.package-intranet-profile-header span {
    margin-right: 10px;
}

.package-intranet-profile-header-menu {
    display: none;
    cursor: pointer;
}

.package-intranet-profile-header-text {
    float: left;
}

.package-intranet-profile[max-width="520px"] .package-intranet-profile-header-menu {
    border-right: 1px solid #444444;
    display: inline;
    float: left;
}

.package-intranet-profile[max-width="520px"] .package-intranet-profile-header-text {
    float: right;
}

/** buttons
 * ============================================================= */

.package-intranet-profile-buttons {
    background: #EDEDED;
    border-right: 1px solid #D0D3D3;
    float: left;
    height: 100%;
    width: 30%;
}

.package-intranet-profile-buttons button {
    border-bottom: 1px solid #D0D3D3;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.package-intranet-profile-buttons .image-container {
    font-size: 20px;
}

.package-intranet-profile[max-width="520px"] .package-intranet-profile-buttons {
    left : -100%;
    position: absolute;
    top: 40px;
    z-index: 10;
}

/** content
 * ============================================================= */

.package-intranet-profile-content {
    float: left;
    height: 100%;
    overflow: auto;
    padding: 20px;
    width: 70%;
}

.package-intranet-profile[max-width="520px"] .package-intranet-profile-content {
    width: 100%;
}

.package-intranet-profile-short {
    padding: 10px 0;
}

/** login
 * ============================================================= */

.package-intranet-profile-login {
    background: #FFF;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.package-intranet-profile-login-header {
    background: #DDDDDD;
    clear: both;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    width: 100%;
}

.package-intranet-profile-login-header span {
    margin-right: 10px;
}

.package-intranet-profile-login-content {
    clear: both;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px;
    width: 100%;
}

.package-intranet-profile-login-content h1 {
    border-bottom: 4px solid #1183B7;
    color: #1183B7;
    font-size: 24px;
    line-height: 48px;
}

/** my data
 * ============================================================= */

.package-intranet-profile-birthday {
    clear: both;
}


/** my address
 * ============================================================= */

.package-intranet-profile-myaddress p {
    padding : 10px 0;
}

.package-intranet-profile-myaddress .intranet-address-data {
    margin-top: 20px;
}

.package-intranet-profile-myaddress .intranet-address-data,
.package-intranet-profile-myaddress .intranet-address-address {
    clear: both;
    max-width: 100%;
    width: 500px;
}

.package-intranet-profile-myaddress .intranet-address-data input,
.package-intranet-profile-myaddress .intranet-address-data select,
.package-intranet-profile-myaddress .intranet-address-address input,
.package-intranet-profile-myaddress .intranet-address-address select {
    clear: none;
    margin: 0 !important;
    width: 300px;
}

.package-intranet-profile-myaddress .intranet-address-data label,
.package-intranet-profile-myaddress .intranet-address-address label {
    line-height: 34px;
    margin: 0;
    padding: 0;
    width: 120px;
}

.package-intranet-profile-myaddress .intranet-address-window-delete .vcard {
    padding: 10px 0;
}

/** form elements
 * ============================================================= */

.package-intranet-profile label {
    cursor: pointer;
    clear: both;
    font-size: 12px;
    float: left;
    padding: 0 0 5px 2px;
}

.package-intranet-profile input {
    background-color: #FFFFFF;
    border: 1px solid #CFD2D2;
    border-radius: 3px;
    clear: both;
    float: left;
    margin-bottom: 20px;
    max-width: 400px;
    padding: 7px;
    width: 100%;
}

.package-intranet-profile select {
    background-color: #FFFFFF;
    border: 1px solid #CFD2D2;
    border-radius: 3px;
    float: left;
    margin: 0 10px 15px 0;
    padding: 7px;
}

.package-intranet-profile input:focus,
.package-intranet-profile input:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
}

.package-intranet-profile input:focus {
    box-shadow: 0 0 3px #999999;
}

.package-intranet-profile input[type="submit"] {
    cursor: pointer;
}

