<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config name="plugins/quiqqer/intranet">

            <section name="registration">
                <conf name="standardGroups">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sendMailOnRegistration">
                    <type><![CDATA[bool]]></type>
                </conf>
            </section>
            <section name="social">
                <conf name="googleApplicationName">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="googleClientId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="googleClientSecret">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="facebookAppId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="facebookSecret">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window>
            <title>Intranet Plugin Einstellungen</title>
            <params>
                <icon>icon-cogs</icon>
            </params>

            <categories>

                <category name="registration">
                    <text>Registrierung</text>
                    <icon>icon-cogs</icon>

                    <settings title="registration_section" name="registration_section">
                        <title>Standard Einstellungen</title>

                        <input conf="registration.standardGroups" type="groups">
                            <text>Standard Gruppen</text>
                            <description>Legen Sie fest welche Gruppen dem Benutzer bei einer Registrierung zugewiesen werden.</description>
                        </input>
                        <input conf="registration.sendMailOnRegistration" type="checkbox">
                            <text>Registrierungs-Aktivierungs-Mail versenden</text>
                            <description>Eine Aktivierungs E-Mail versenden damit der Benutzer sich aktivieren kann.</description>
                        </input>
                    </settings>
                </category>

                <category name="registration_social">
                    <text>Social-Media Authentifizierung</text>
                    <icon>icon-globe</icon>

                    <settings title="registration_social_settings" name="registration_social_settings">
                        <title>Google Authentifizierung</title>

                        <input conf="social.googleApplicationName">
                            <text>Google+ ApplicationName</text>
                            <description></description>
                        </input>
                        <input conf="social.googleClientId">
                            <text>Google+ Client-Id</text>
                            <description></description>
                        </input>
                        <input conf="social.googleClientSecret">
                            <text>Google+ Client Secret</text>
                            <description></description>
                        </input>
                    </settings>

                    <settings title="registration_social_settings" name="registration_social_settings">
                        <title>Facebook Authentifizierung</title>

                        <input conf="social.facebookAppId">
                            <text>Facebook App-Id</text>
                            <description></description>
                        </input>
                        <input conf="social.facebookSecret">
                            <text>Facebook Secret</text>
                            <description></description>
                        </input>

                    </settings>

                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
