<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config name="plugins/quiqqer/log">

            <section name="registration">
                <conf name="standardGroup">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="standardGroup">
                    <type><![CDATA[sendMail]]></type>
                </conf>

            </section>
        </config>

        <window>
            <title>Intranet Plugin Einstellungen</title>
            <params>
                <icon>icon-cogs</icon>
            </params>

            <categories>

                <category name="browser_logs">
                    <text>Registrierun</text>
                    <icon>icon-cogs</icon>

                    <settings title="log_levels_section" name="log_levels_section">
                        <title>Log Level Einstellungen</title>

                        <input conf="log_levels.alert" type="checkbox">
                            <text>Alert-Meldungen (Alarm) sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.critical" type="checkbox">
                            <text>Critcal-Meldungen (kritisch) sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.debug" type="checkbox">
                            <text>Debug-Meldungen sollen geloggt werden</text>
                        </input>

                        <input conf="log_levels.emergency" type="checkbox">
                            <text>Emergency-Meldungen (Notfall) sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.error" type="checkbox">
                            <text>Error-Meldungen (Fehler) sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.info" type="checkbox">
                            <text>Info-Meldungen sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.notice" type="checkbox">
                            <text>Notice-Meldungen (Hinweis) sollen geloggt werden</text>
                        </input>
                        <input conf="log_levels.warning" type="checkbox">
                            <text>Warning-Meldungen (Warnung) sollen geloggt werden</text>
                        </input>

                    </settings>

                </category>

            </categories>
        </window>

    </settings>
</quiqqer>
