<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config name="plugins/quiqqer/intranet">

            <section name="userProfile">
                <conf name="showMyData">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showPasswordChange">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showAddress">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showAddressManager">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="showDeleteAccount">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>

            <section name="disable">
                <conf name="hashLifetime">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>3600</defaultvalue>
                </conf>
            </section>

            <section name="registration">
                <conf name="userActivasion">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="autoLoginOnActivasion">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="standardGroups">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sendMailOnRegistration">
                    <type><![CDATA[bool]]></type>
                </conf>
                <conf name="loggedInDuringRegistrationn">
                    <type><![CDATA[bool]]></type>
                </conf>
                <conf name="sendInfoMailOnRegistrationTo">
                    <type><![CDATA[String]]></type>
                </conf>

            </section>
            <section name="social">
                <conf name="googleApplicationName">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="googleClientId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="googleClientSecret">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="facebookAppId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="facebookSecret">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window>
            <title>Intranet Plugin Einstellungen</title>
            <params>
                <icon>icon-cogs</icon>
            </params>

            <categories>

                <category name="userProfile">
                    <text>Profil Einstellungen</text>
                    <icon>icon-user</icon>

                    <settings title="userProfile_section" name="userProfile_section">
                        <title>Profil Einstellungen</title>

                        <input conf="userProfile.showMyData" type="checkbox">
                            <text><u>Meine Daten</u> anzeigen</text>
                        </input>
                        <input conf="userProfile.showPasswordChange" type="checkbox">
                            <text><u>Passwort ändern</u> anzeigen</text>
                        </input>
                        <input conf="userProfile.showAddress" type="checkbox">
                            <text><u>Meine Adresse</u> anzeigen</text>
                        </input>
                        <input conf="userProfile.showAddressManager" type="checkbox">
                            <text><u>Meine Adressen</u> anzeigen (Address Verwaltung)</text>
                        </input>
                        <input conf="userProfile.showDeleteAccount" type="checkbox">
                            <text><u>Mein Account löschen</u> anzeigen</text>
                        </input>
                    </settings>
                </category>

                <category name="registration">
                    <text>Registrierung</text>
                    <icon>icon-cogs</icon>

                    <settings title="registration_section" name="registration_section">
                        <title>Standard Einstellungen</title>

                        <input conf="registration.standardGroups" type="groups">
                            <text>Standard Gruppen</text>
                            <description>
                                Legen Sie fest welche Gruppen dem Benutzer bei einer Registrierung zugewiesen werden.
                            </description>
                        </input>

                        <input conf="registration.sendInfoMailOnRegistrationTo" type="text">
                            <text>Info Mail bei Registrierung senden</text>
                            <description>
                                An die angegebene E-Mail Adresse eine Informationsmail verschicken das sich ein neuer Benutzer registriert hat.
                            </description>
                        </input>

                        <input conf="registration.sendMailOnRegistration" type="checkbox">
                            <text>Registrierungs-Aktivierungs-Mail versenden</text>
                            <description>Eine Aktivierungs E-Mail versenden damit der Benutzer sich aktivieren kann.</description>
                        </input>

                        <input conf="registration.loggedInDuringRegistrationn" type="checkbox">
                            <text>Eingeloggte Benutzer können sich registrieren</text>
                            <description>
                                Wenn diese Option nicht aktiv ist, können sich nur <u>nicht</u> eingeloggte Benutzer registrieren.<br />
                                Eingeloggte Benutzer haben sich schon registriert und benötigen keine Registrierung.
                            </description>
                        </input>

                        <input conf="registration.autoLoginOnActivasion" type="checkbox">
                            <text>Benutzer bei Aktivierung automatisch einloggen</text>
                            <description>
                                Wenn diese Option aktiv ist, werden Benutzer automatisch bei Klick auf den Aktivierungslink eingeloggt.
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="registration_social">
                    <text>Social-Media Authentifizierung</text>
                    <icon>icon-globe</icon>

                    <settings title="registration_social_settings" name="registration_social_settings">
                        <title>Google Authentifizierung</title>

                        <input conf="social.googleApplicationName">
                            <text>Google+ ApplicationName</text>
                            <description></description>
                        </input>
                        <input conf="social.googleClientId">
                            <text>Google+ Client-Id</text>
                            <description></description>
                        </input>
                        <input conf="social.googleClientSecret">
                            <text>Google+ Client Secret</text>
                            <description></description>
                        </input>
                    </settings>

                    <settings title="registration_social_settings" name="registration_social_settings">
                        <title>Facebook Authentifizierung</title>

                        <input conf="social.facebookAppId">
                            <text>Facebook App-Id</text>
                            <description></description>
                        </input>
                        <input conf="social.facebookSecret">
                            <text>Facebook Secret</text>
                            <description></description>
                        </input>

                    </settings>

                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
