<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="quiqqer/intranet" var="user.settings.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item" style="width: 150px">
                    {locale group="quiqqer/intranet" var="user.settings.setNewPassword"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox"
                           name="quiqqer.intranet.set.new.password"
                    />

                    {locale group="quiqqer/intranet" var="user.settings.setNewPassword.text"}
                </span>
            </label>
        </td>
    </tr>
</table>
