@CHARSET "UTF-8";

.quiqqer-google-login {
    background: url('Google_en.png') no-repeat top center;
    cursor: pointer;
    float: left;
    height: 30px !important;
    width : 170px !important;
}

html[lang="de"] .quiqqer-google-login,
.de .quiqqer-google-login {
    background: url('Google_de.png') no-repeat top center;
}
